aside.main-sidebar.hidden-print

	section.sidebar
		.user-panel
			.pull-left.image
				img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg', alt='User Image')
			.pull-left.info
				p Test test
				p.designation Frontend Developer

		// Sidebar Menu
		ul.sidebar-menu
			li
				a(href='/')
					i.fa.fa-line-chart
					span Charts
			li
				a(href='/serverdata')
					i.fa.fa-btc
					span Server Data			
			li
				a(href='/bitcoinprice')
					i.fa.fa-btc
					span BitcoinPrice		
