html
  head
    title Line Chart Multiple Axes
    script(src='../../../../dist/2.7.0/Chart.bundle.js')
    style(type='text/css').
      /* Chart.js */
      @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
    script(src='../../utils.js')
    style.
      canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      }
  body
    div(style='width:75%;')
      .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;')
        .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;')
          div(style='position:absolute;width:1000000px;height:1000000px;left:0;top:0')
        .chartjs-size-monitor-shrink(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;')
          div(style='position:absolute;width:200%;height:200%;left:0; top:0')
      canvas#canvas.chartjs-render-monitor(style='display: block; width: 1000px; height: 500px;', width='1000', height='500')
    button#randomizeData Randomize Data
    script.
      var lineChartData = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [{
      label: "My First dataset",
      borderColor: window.chartColors.red,
      backgroundColor: window.chartColors.red,
      fill: false,
      data: [
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor()
      ],
      yAxisID: "y-axis-1",
      }, {
      label: "My Second dataset",
      borderColor: window.chartColors.blue,
      backgroundColor: window.chartColors.blue,
      fill: false,
      data: [
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor(),
      randomScalingFactor()
      ],
      yAxisID: "y-axis-2"
      }]
      };
      window.onload = function() {
      var ctx = document.getElementById("canvas").getContext("2d");
      window.myLine = Chart.Line(ctx, {
      data: lineChartData,
      options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title:{
      display: true,
      text:'Chart.js Line Chart - Multi Axis'
      },
      scales: {
      yAxes: [{
      type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
      display: true,
      position: "left",
      id: "y-axis-1",
      }, {
      type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
      display: true,
      position: "right",
      id: "y-axis-2",
      // grid line settings
      gridLines: {
      drawOnChartArea: false, // only want the grid lines for one axis to show up
      },
      }],
      }
      }
      });
      };
      document.getElementById('randomizeData').addEventListener('click', function() {
      lineChartData.datasets.forEach(function(dataset) {
      dataset.data = dataset.data.map(function() {
      return randomScalingFactor();
      });
      });
      window.myLine.update();
      });
