extends layouts/_layout.pug

block content
  .page-title
    div
      h1
        i.fa.fa-dashboard
        |  ChartJS Example

    div
      ul.breadcrumb
        li
          i.fa.fa-home.fa-lg
        li
          a(href='#') ChartJS Example

  .row

    .col-md-12
      .card
        h3.card-title Example
          canvas#canvas.chartjs-render-monitor(style='display: block; width: 1000px; height: 500px;', width='1000', height='500')      

block specific-js
  script(type='text/javascript', src="js/chartJS_data.js") 
  script(type='text/javascript', src="js/plugins/chart.js") 
