extends layouts/_layout.pug

block content
  body
    canvas#canvas.chartjs-render-monitor(style='display: block; width: 1000px; height: 500px;', width='1000', height='500')      
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  script(src='../../public/js/chartJS_data.js')
